body {

    font-family: 'Poppins', sans-serif;

    background-color: rgb(248, 239, 234);

}


header {background-color: black;


    max-width: 1321px;
    

    border-radius: 25px;

  

  margin-top: 80px;

  margin-bottom: 5%;

 position: relative;

  left: 18%;
    

}

h3 {

    font-weight: 600;
font-size: 18px;
}
h1 {

    color: white;

    font-size: 50px
    ;

    margin-bottom: 5%;
}

p {

    font-weight: 400;
font-size: 16px;
line-height: 26px;

color: white;

margin-bottom: 5%;
}

.head-section { 

    

    display: flex;

    
}
.head-section img{

    max-width: 367px;
max-height: 615px;

margin-left: 250px;

margin-top: 50px;
}
.title-info {

    padding-left: 50px;
}
.button-1 {

    border-radius: 10px;

    padding: 25px;

    background-color: rgb(163, 24, 24);

    font-size: 30px;

    font-weight: 700;

    color: white;

    margin-bottom: 2%;
}
.tvicon {

    color: white;
}



.navbutton{ 

margin-left: 17%;



border-radius: 10px;

    padding: 10%;

    background-color: white;

    font-weight: 600;
font-size: 20px;
line-height: 30px;

    color: black;

    text-align: center;

    width: 200px;

    height: 100px;
}
.diff {
    background-color: rgb(4, 112, 184);
}
.navdiv {

    

    background-color: rgb(241, 130, 110);

    height: 312px;

    width: 312px;

   

    

    

  

    border-radius: 25px;
}




.show {
    
    width: 312px;
    height: 362px;

    display: flex;

    flex-direction: column;

    border: 1px solid gainsboro;

    align-items: center;

    justify-content: center;

    border-radius: 15px;



}

.show-section{

    

    

   

    display: grid;

    grid-template-columns: repeat(3,40%);

    row-gap: 5%;

    

}

.match-button{
  
    /* margin-left: 4%; */
    margin-right: 5%;
    border-radius: 5px;

    width: 100px;
height: 32px;

background-color: white;

font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.time {

   font-size: 24px;

   margin-right: 25%;
}

footer {

    margin-top: 10%;
height: 444px;



background-color: black;

text-align: center;

}
.specialsec {
    display: flex;

    margin-left: 10%;

    
}
.navsec {
margin-right: 5%;
    
}


h5 {
    color: gainsboro;

    display: inline;

    margin-right: 3%;

    
}

.footerdiv {

    margin-top: 5%;
}

footer a {

    font-size: 30px;
}

.opponent {

    font-size: 30px;
    
    position: relative;

    bottom: 20px
    ;
}

.match-time {

    font-size: 15px;

    color: black;
}
hr {

    width: 80%;

    border: 0;
    height: 1px;
    background-image: linear-gradient(white,red)


    
}

.viewall-btn{ 

margin-left: 40%;

margin-top: 10%;

visibility: hidden;
}

.btndesign {

    font-size: 30px;

    font-weight: 700;

    color: white;

    padding: 15px;

    background-color: coral;
}


/* tablet */


@media screen and (max-width: 1023px)

{

.specialsec{flex-direction: column;

    
}
    .show-section { 



        grid-template-columns: repeat(2,1fr);

       margin-top: 100px;

       margin-bottom: 100px;
    }

    footer {

        
    }
.head-section {
    

    margin-top: 0;
}

.head-section img {

    margin-left: 25px;
}

header {
    margin-top: 0;

   
       
    
        position: relative;
    
        left: 0;
   
}

.navdiv {

    background-color: white;

    margin-left: 22%;
}

.viewall-btn{

    visibility: visible;
}
}


















/* mobile */
@media only screen and (max-width: 578px)

{

.specialsec{flex-direction: column;

    
}
    .show-section { 

        grid-template-columns: repeat(1,1fr);

       height: 3000px;
    }

    footer .footerdiv {

        display: flex;

        flex-direction: column;

       

        
    }
.head-section {
    flex-direction: column;

    margin-top: 0;
}

.head-section img {

    margin-left: 25px;
}

header {
    margin-top: 0;

    position: relative;

    left: 0;
}

.navdiv {

    margin-left: 7%;
}

footer {
    height: 100%;
}
.viewall-btn {

    visibility: hidden;
}


}
  
   


    

    

   


    


